<div class="columns">
  <ul class="no-bullet left v-align-center title">
    <li class="title animate">
      <h2>James Conkling</h2>
    </li>
  </ul>
  <ul class="no-bullet right v-align-center menu">
    <li><a href="//twitter.com/{{ twitter }}" target="_blank">
      <small><i class="fa fa-twitter"></i><span class="hide-for-small-only">twitter</span></small>
    </a></li>
    <li><a href="//github.com/{{ github }}" target="_blank">
      <small><i class="fa fa-github-alt"></i><span class="hide-for-small-only">github</span></small>
    </a></li>
    <li><a href="mailto:{{ email }}" target="_blank">
      <small><i class="fa fa-envelope"></i><span class="hide-for-small-only">email</span></small>
    </a></li>
    <li><a href="assets/resume.pdf" target="_blank">
      <small><i class="fa fa-file-text"></i><span class="hide-for-small-only">resume</span></small>
    </a></li>
  </ul>
</div>
