<div class="columns">
  <ul class="no-bullet left v-align-center title">
    <li class="title animate">
      <h2>James Conkling</h2>
    </li>
  </ul>
  <ul class="no-bullet right v-align-center menu">
    <li>
      <a href="//www.linkedin.com/in/{{ linkedin }}/" target="_blank" title="linkedIn">
        <i class="fa fa-linkedin"></i><span class="hide-for-small-only"></span>
      </a>
    </li>
    <li>
      <a href="//github.com/{{ github }}" target="_blank" title="github">
        <i class="fa fa-github-alt"></i><span class="hide-for-small-only"></span>
      </a>
    </li>
    <li>
      <a href="mailto:{{ email }}" target="_blank" title="email">
        <i class="fa fa-envelope-o"></i><span class="hide-for-small-only"></span>
      </a>
    </li>
    <li>
      <a href="assets/resume.pdf" target="_blank" title="resume">
        <i class="fa fa-file-text-o"></i><span class="hide-for-small-only">resume</span>
      </a>
    </li>
  </ul>
</div>
