<div id="{{name}}-plate" class="plate animate">
  <h1 class="title show-for-small-only">{{name}}</h1>
  <ul class="no-bullet medium-block-grid-1 large-block-grid-2">
    {{#each items}}
      <li class="item">
        <a href="#" class="clearfix">
          <div class="thumb" style="background-image: url('images/thumb/dymaxion.png')" title="{{this.title}}"></div>
          <div>{{this.title}}</div>
        </a>
      </li>
    {{/each}}
  </ul>
</div>
