<p>I am a web developer, cartographer, and data analyst working on open source geographic data platforms in the environmental, human rights, and natural resource management worlds.  Find me wandering the blurry overlap between technology and global policy challenges.</p>
<ul class="">
  <li class="title projects">
    <h1><a href="#">projects</a></h1>
  </li>
<!--   <li class="title code">
    <h1><a href="#">code</a></h1>
  </li> -->
  <li class="title cartography">
    <h1><a href="#">cartography</a></h1>
  </li>
</ul>
