<ul class="">
  <li class="title projects">
    <h1><a href="#">projects</a></h1>
  </li>
  <li class="title code">
    <h1><a href="#">code</a></h1>
  </li>
  <li class="title cartography">
    <h1><a href="#">cartography</a></h1>
  </li>
</ul>
