// @import url(http://fonts.googleapis.com/css?family=Lato:200|Open+Sans:400,600);
@import 'palette';

$headerHeight: 70px;

body {
  font-family: "mplus-light", sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: $bg;
  letter-spacing: 1px;
}


/*******************/
/* Helpers */
/*******************/
.v-align-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.v-height-full {
  height: 100%;
}
.animate {
  transition: all 0.2s;
}
.keyline-left { border-left: 1px solid $quiet; }
.keyline-right { border-right: 1px solid $quiet; }
.keyline-top { border-top: 1px solid $quiet; }
.keyline-bottom { border-bottom: 1px solid $quiet; }
.keyline-all { border: 1px solid $quiet; }


/*******************/
/* Inline Elements */
/*******************/
a {
  text-decoration: none;
  color: $link;
  }
  a:hover {
    color: $link-hover;
    text-decoration: underline;
  }
  a:focus {
    color: $link;
  }

.quiet { color: $quiet; }

small { font-size: 0.7rem; }


/*******************/
/* Block Elements */
/*******************/
h1,h2,h3 {
  font-family: "mplus-light", sans-serif;
  // font-weight: 200;
  letter-spacing: 4px;
}

p {
  color: white;
  font-size: 1.6rem;
  font-weight: 200;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}


/***************/
/* Project CSS */
/***************/
#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  // border-bottom: 1px solid #AAA;
  }
  header .columns {
    height: $headerHeight;
  }
  header .title h2 {
    font-size: 1rem;
    // text-transform: uppercase;
  }
  header .menu li {
    float: left;
    padding-left:12px;
  }
  header .menu li a {
    // vertical-align: middle;
    // display: table-cell;
  }
  // THIS MIGHT BE WORTH PLAYING AROUND WITH
  // header .menu li span {
  //   display: none;
  // }
  // header .menu li:hover span {
  //   display: none;
  // }

#side,
#plates {
  position: absolute;
  top: $headerHeight;
  bottom: 0;
  overflow: scroll;
}

#side {
  // left: 0;
  // width: 30%;
  }
  #side ul {
    list-style: none;
    margin-left: 0;
    margin-right: 0.4rem;
    margin-bottom: 0;
  }
  #side li.title,
  #plates h1.title {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3rem;
    // won't work w/o calculated #side width
    text-overflow: clip;
    text-overflow: ellipsis;
    text-overflow: "…";
  }
  #side li.title {
    padding-bottom: 3rem;
  }
  #plates h1.title {
    padding-bottom: 0.8rem;
  }
  #side li:last-child {
    padding-bottom: 0;
  }
  #side li.active a {
    text-decoration: underline;
  }
  #side li:active a {
    text-decoration: none;
  }

#plates {
  // right: 0;
  // width: 70%;
  }
  .plate {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
  }
  .plate.active {
    opacity: 1;
  }


/*******************/
/* Fonts */
/*******************/
@font-face
{
font-family: mplus-light;
src: url('../fonts/mplus-2m-light.ttf')
     format("truetype");
// src: url('mplus-fonts.sourceforge.jp/webfonts/mplus-2m-light.ttf')
//      format("truetype");
}

